{% extends "base.html" %}

{% block headinclude %}
<link rel="stylesheet" href="{{ get_url(path='css/index.css')  }}">

{% endblock headinclude %}

{% block content %}

<div class="outer">
    <div class="middle">
        <div class="inner">
            <div class="left">
                <h1 class="title jetbrains-mono-extrabold">
                    <span class="title-name">Nothing Here</span> <span class="title-extension">:/</span>
                </h1>
                <p class="jetbrains-mono-regular">404 Not Found | bit of a shame really...</p>
            </div>
        </div>
    
    </div>
</div>

{% endblock content %}