{% extends "base.html" %}

{% block headinclude %}
<link rel="stylesheet" href="/css/post-style.css">
{% endblock headinclude %}

{% block content %}
<div class="topnav jetbrains-mono-regular">
    <div class="topnav-left jetbrains-mono-bold">
        <p>
            <span class="title-name">millzy</span><span class="title-extension">.dev</span>
            /
            posts
        </p>
    </div>
    <div class="topnav-right">
        <p><a class="hoverable nav-nonselected" href="/">Home</a></p>
        <p><a class="hoverable nav-selected" href="{{ get_url(path='@/posts/_index.md') }}">Posts</a></p>
        <p><a class="hoverable nav-nonselected" href="https://github.com/MillzyDev">GitHub</a></p>
    </div>
</div>

<div class="main-content jetbrains-mono-regular">
    <h1 class="title jetbrains-mono-extrabold">Posts</h1>
    <p class="description">
        Documenting the projects I undertake, the things I learn, as well as other ramblings.
    </p>
    
    <div class="post-list">
        {% set pages = paginator.pages | default(value = section.pages) %}
        {% for page in pages %}
            <article class="post-card">
                <h2>
                    <a class="post-link" href="{{ page.permalink | safe }}">{{ page.title }}</a>
                </h2>

                {% if page.description %}
                    <p class="post-card-description">{{ page.description }}</p>
                {% endif %}

                <div class="post-card-metadata">
                    {% if page.date %}
                        <time class="post-card-time jetbrains-mono-thin datetime="{{ page.date }}">{{ page.date | date(format="%d/%m/%Y") }}</time>
                    {% endif %}
                </div>
            </article>
        {% endfor %}
    </div>

    <nav class="pagination" aria-label="Pagination">
        {% if paginator.previous %}
            <a href="{{ paginator.previous }}" class="paginator-link paginator-link-prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="m15 18-6-6 6-6"/>
                </svg>
                Newer
            </a>
        {% endif %}

        <span class="pagination-info">
            Page {{ paginator.current_index }} of {{ paginator.number_pagers }}
        </span>

        {% if paginator.next %}
            <a href="{{ paginator.next }}" class="paginator-link paginator-link-prev">
                Older
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="m9 18 6-6-6-6"/>
                </svg>
            </a>
        {% endif %}
    </nav>
</div>
{% endblock content %}